/* Box Sizing Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Set a basic background and text color */
body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove link underlines */
a {
  text-decoration: none;
}

/* Set images to be responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.94rem;
  color: hsl(229, 6%, 66%);
  line-height: 1.7;
}

h1 {
  font-size: 1.38rem;
  font-weight: 200;
  margin-block-start: 2.7rem;
  text-align: center;
  letter-spacing: 0.03125rem;
  line-height: 1.6;
}
h1 span {
  display: block;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.38rem;
    letter-spacing: 0.04rem;
    line-height: 1.3;
  }
}

h2 {
  font-size: 1.38rem;
  font-weight: 600;
  margin-block-end: 0.7rem;
}

h1,
h2 {
  color: hsl(234, 12%, 34%);
  line-height: 1.6;
}

p {
  text-align: center;
  max-width: 34ch;
}
@media screen and (min-width: 768px) {
  p {
    max-width: 55ch;
  }
}

.card {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 98%);
  border-top: 0.4rem solid;
  border-radius: 0.4rem;
  box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 50, 100, 0.15);
  max-width: 20rem;
}
.card.supervisor {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 98%);
  border-top: 0.4rem solid hsl(180, 62%, 55%);
  border-radius: 0.4rem;
  box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 50, 100, 0.15);
  max-width: 20rem;
}
.card.team-builder {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 98%);
  border-top: 0.4rem solid hsl(0, 78%, 62%);
  border-radius: 0.4rem;
  box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 50, 100, 0.15);
  max-width: 20rem;
}
.card.karma {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 98%);
  border-top: 0.4rem solid hsl(34, 97%, 64%);
  border-radius: 0.4rem;
  box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 50, 100, 0.15);
  max-width: 20rem;
}
.card.calculator {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 98%);
  border-top: 0.4rem solid hsl(212, 86%, 64%);
  border-radius: 0.4rem;
  box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 50, 100, 0.15);
  max-width: 20rem;
}
.card .card-title {
  font-size: 1.25rem;
}
.card .card-content {
  font-size: 0.88rem;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  text-align: left;
  margin-block-end: 2rem;
  line-height: 1.7;
}
.card img {
  margin-inline-start: auto;
}

body {
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.wrapper {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
}

.layout-grid {
  margin-block-start: 3.5rem;
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .layout-grid {
    margin-block-start: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "team-builder calculator" "supervisor   karma";
  }
}
@media (min-width: 1024px) {
  .layout-grid {
    margin-block-start: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ".          team-builder ." "supervisor team-builder calculator" "supervisor karma        calculator" ".          karma        .";
  }
  .layout-grid > .supervisor {
    grid-area: supervisor;
  }
  .layout-grid > .team-builder {
    grid-area: team-builder;
  }
  .layout-grid > .karma {
    grid-area: karma;
  }
  .layout-grid > .calculator {
    grid-area: calculator;
  }
}

.attribution {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: hsl(229, 6%, 66%);
}
.attribution a {
  color: hsl(234, 12%, 34%);
  text-decoration: underline;
  transition: color 0.3s ease;
}
.attribution a:hover {
  color: hsl(229, 6%, 66%);
}
@media (min-width: 768px) {
  .attribution br {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */