@import "base/reset";
@import "utils/variables";
@import "base/typography";
@import "utils/mixins";
@import "components/cards";

body {
  background-color: $color-neutral-100;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.wrapper {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
}

.layout-grid {
  margin-block-start: 3.5rem;
  display: grid;
  gap: 2rem;

  @media (min-width: 768px) {
    margin-block-start: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      ".          team-builder ."
      "supervisor team-builder calculator"
      "supervisor karma        calculator"
      ".          karma        .";

    & > .supervisor {
      grid-area: supervisor;
    }

    & > .team-builder {
      grid-area: team-builder;
    }

    & > .karma {
      grid-area: karma;
    }

    & > .calculator {
      grid-area: calculator;
    }
  }
}

.attribution {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: $color-neutral-400;

  a {
    color: $color-neutral-900;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: $color-neutral-400;
    }
  }
  @media (min-width: 768px) {
    br {
      display: none;
    }
  }
}
