@import "base/reset";
@import "utils/variables";
@import "base/typography";
@import "utils/mixins";
@import "components/cards";

body {
  background-color: $color-neutral-100;
  min-height: 100vh;
}

.wrapper {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
}
