@import "variables";

@mixin card-style($border-color) {
  padding: $card-padding;
  background-color: $color-neutral-100;
  border-top: $card-border-radius solid $border-color;
  border-radius: $card-border-radius;
  box-shadow: 0 1rem 1.5rem -0.5rem rgba(0 50 100 / 0.15);
}
