.card {
  @include card-style(null); //Default border color

  &.supervisor {
    @include card-style($color-cyan);
  }

  &.team-builder {
    @include card-style($color-red);
  }

  &.karma {
    @include card-style($color-orange);
  }

  &.calculator {
    @include card-style($color-blue);
  }
  .card-title {
    font-size: $font-size-500;
  }

  .card-content {
    font-size: $font-size-400;
    font-weight: $font-weight-regular;
    color: $color-neutral-400;
    text-align: left;
    margin-block-end: 2rem;
  }

  img {
    margin-inline-start: auto;
  }
}
