@import "../utils/variables";

body {
  font-family: $font-base;
  font-size: $font-size-400;
  color: $color-neutral-400;
  line-height: $line-height-base-mobile;
}

h1 {
  font-size: $font-size-600;
  font-weight: $font-weight-light;
  margin-block-start: 2.7rem;
  text-align: center;
  letter-spacing: $letter-spacing-heading-mobile;
  line-height: $line-height-heading-mobile;

  span {
    display: block;
    font-weight: $font-weight-bold;
  }

  @media screen and (min-width: 768px) {
    font-size: $font-size-900;
    letter-spacing: $letter-spacing-heading-desktop;
    line-height: $line-height-heading-desktop;
  }
}

h2 {
  font-size: $font-size-600;
  font-weight: $font-weight-bold;
  margin-block-end: 0.7rem;
}

h1,
h2 {
  color: $color-neutral-900;
  line-height: $line-height-heading-mobile;
}

p {
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 55ch;   
  }
}
